.style-height-width {
    height: 90vh;
}

mat-card {
    width: 25vw;
    box-shadow: 0 0 10px #e4e4e4;
}

.input-style {
    padding: 1em;
    width: 85%;
    border: 1px solid #e4e4e4;
}

.text-area-height {
    height: 25vh;
}