.image-style {
    width: fit-content;
    border-radius: 25px;
    background-color: #28a4dd;
    ;
    padding: 0 0.15em;
}

img {
    padding: 0.45em 0.25em 0.25em 0.25em;
}

.image-width {
    width: 3em;
}

.margin-top {
    margin-top: 0.5em;
}