<div fxLayout="column" fxLayoutAlign="center center" class="style-height-width width-hundred">
    <mat-card>
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2em">
            <img src="../../assets/login.png">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="width-hundred">
                <button class="background-blue color-white border-radius" mat-raised-button fxFlex="40" (click)="onClick('login')">Login</button>
                <button class="background-blue color-white border-radius" mat-raised-button fxFlex="40" (click)="onClick('register')">Register</button>
            </div>
        </div>
    </mat-card>
</div>