/* You can add global styles to this file, and also import other style files */

.width-hundred {
    width: 100% !important;
}

.color-blue {
    color: #28a4dd !important;
}

.background-blue {
    background-color: #28a4dd !important;
}

.color-white {
    color: white !important;
}

.border-radius {
    border-radius: 25px !important;
}

.border-none {
    border: none;
}

.outline-none {
    outline: none;
}